PIL==1.1.7
PyYAML==3.10
Pygments==1.6
apipkg==1.2
argparse==1.2.1
bottle==0.11.6
gevent==1.0rc2
greenlet==0.4.0
lxml==3.1.0
mwlib==0.14.3
mwlib.ext==0.12.4
mwlib.rl==0.14.1
mwlib.zim==0.3.0
odfpy==0.9.6
py==1.4.13
pyPdf==1.13
pyfribidi==0.11.0
pyparsing==1.5.6
pyzim==0.3.0
qserve==0.2.8
requests==1.1.0
roman==2.0.0
simplejson==3.1.0
sqlite3dbm==0.1.4
timelib==0.2.4
